@using Movies.WebApp.ViewModel
@{
    ViewData["Title"] = "Home Page";

}

<article style="background-color: #1b1a1f">

    <!--
      - #HERO
    -->

    <section class="hero">
        <div class="container">

            <div class="hero-content">

                <p class="hero-subtitle">Movia</p>

                <h1 class="h1 hero-title">
                    Phim <strong>Không giới hạn</strong>, Truyền hình, & và hơn thế nữa.
                </h1>

                <div class="meta-wrapper">

                  Hãy bắt đầu với một bộ phim ngẫu nhiên ngay bây giờ

                </div>

                <button   class="btn text-white fw-bold rounded-pill px-4 py-2 d-flex align-items-center" style="border: 2px solid #e2d703; background-color: #11141d">
                    <ion-icon name="play"></ion-icon>

                    <a asp-action="Detail" asp-controller="Movie" asp-route-id="@ViewBag.RandomMovie" style="color:#e2d703">Xem ngay</a>
                </button>

            </div>

        </div>
    </section>





    <!--
      - #UPCOMING
    -->

    <section class="upcoming">
        <div class="container">

            <div class="flex-wrapper">

                <div class="title-wrapper">
                    <p class="section-subtitle">Đổ bộ đông nam á</p>

                    <h2 class="h2 section-title">Phim mới</h2>
                </div>

                <ul class="filter-list">

                    <li>
                        <button class="filter-btn">Ngày</button>
                    </li>

                    <li>
                        <button class="filter-btn">Tuần</button>
                    </li>

                    <li>
                        <button class="filter-btn">Tháng</button>
                    </li>

                </ul>

            </div>

            <ul class="movies-list  has-scrollbar">


                @foreach (MoviePopularViewModel item in ViewBag.PopularMovies)
                {
                    <li>
                        <div class="movie-card">

                            <a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.MovieId">
                                <figure class="card-banner">
                                    <img src="https://image.tmdb.org/t/p/original/@item.PosterPath" alt="">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">@item.Title</h3>
                                </a>

                                <time datetime="2022">@item.ReleaseDate.Year</time>
                            </div>

                            <div class="card-meta">
                                <div class="badge badge-outline">HD</div>

                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>@item.Rating</data>
                                </div>
                            </div>

                        </div>
                    </li>
                }





            </ul>

        </div>
    </section>





    <!--
      - #SERVICE
    -->

    <section class="service">
        <div class="container">

            <div class="service-banner">
                <figure>
                    <img src="./assets/images/service-banner.jpg" alt="HD 4k resolution! only $3.99">
                </figure>

                <a href="./assets/images/service-banner.jpg" download class="service-btn text-decoration-none">
                    <span>Download</span>

                    <ion-icon name="download-outline"></ion-icon>
                </a>
            </div>

            <div class="service-content">

                <p class="service-subtitle">Dịch vụ của chúng tôi</p>

                <h2 class="h2 service-title">Thuê những bộ phim thịnh hành trên toàn cầu.</h2>

                <p class="service-text">
                    Các bộ phim đều có độ phân giải cao (bao gồm FHD 2K 4K), dịch vụ stream mượt mà, bạn sẽ cảm thấy mãn nguyện khi sử dụng dịch vụ của chúng tôi
                </p>

                <ul class="service-list">

                    <li>
                        <div class="service-card">

                            <div class="card-icon">
                                <ion-icon name="tv"></ion-icon>
                            </div>

                            <div class="card-content">
                                <h3 class="h3 card-title">Tương thích mọi thiết bị</h3>

                                <p class="card-text">
                                    Hỗ trợ xem phim trên tất cả các thiết bị thông dụng hiện nay
                                </p>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="service-card">

                            <div class="card-icon">
                                <ion-icon name="videocam"></ion-icon>
                            </div>

                            <div class="card-content">
                                <h3 class="h3 card-title">Xem mọi lúc, mọi nơi</h3>

                                <p class="card-text">
                                    Chỉ cần có Internet, còn lại cứ để chúng tôi lo.
                                </p>
                            </div>

                        </div>
                    </li>

                </ul>

            </div>

        </div>
    </section>





    <!--
      - #TOP RATED
    -->

    <section class="top-rated">
        <div class="container">

            <p class="section-subtitle">Online Streaming</p>

            <h2 class="h2 section-title">Top Rated Movies</h2>

            <ul class="filter-list">

                <li>
                    <button class="filter-btn">Movies</button>
                </li>

                <li>
                    <button class="filter-btn">TV Shows</button>
                </li>

                <li>
                    <button class="filter-btn">Documentary</button>
                </li>

                <li>
                    <button class="filter-btn">Sports</button>
                </li>

            </ul>

            <ul class="movies-list">

                @foreach (MoviePopularViewModel item in ViewBag.PopularMovies2)
                {
                    <li>
                        <div class="movie-card">

                            <a asp-controller="Movie" asp-action="Detail" asp-route-id="@item.MovieId">
                                <figure class="card-banner">
                                    <img src="https://image.tmdb.org/t/p/original/@item.PosterPath" alt="">
                                </figure>
                            </a>

                            <div class="title-wrapper">
                                <a href="./movie-details.html">
                                    <h3 class="card-title">@item.Title</h3>
                                </a>

                                <time datetime="2022">@item.ReleaseDate.Year</time>
                            </div>

                            <div class="card-meta">
                                <div class="badge badge-outline">HD</div>

                                <div class="duration">
                                    <ion-icon name="time-outline"></ion-icon>

                                    <time datetime="PT137M">137 min</time>
                                </div>

                                <div class="rating">
                                    <ion-icon name="star"></ion-icon>

                                    <data>@item.Rating</data>
                                </div>
                            </div>

                        </div>
                    </li>
                }

            </ul>

        </div>
    </section>





    <!--
      - #TV SERIES
    -->

    <section class="tv-series" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/tv-series-bg.jpg) no-repeat">
        <div class="container">

            <p class="section-subtitle">Best TV Series</p>

            <h2 class="h2 section-title">World Best TV Series</h2>

            <ul class="movies-list">

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="./assets/images/series-1.png" alt="Moon Knight movie poster">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Moon Knight</h3>
                            </a>

                            <time datetime="2022">2022</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT47M">47 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8.6</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="./assets/images/series-2.png" alt="Halo movie poster">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Halo</h3>
                            </a>

                            <time datetime="2022">2022</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT59M">59 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8.8</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="./assets/images/series-3.png" alt="Vikings: Valhalla movie poster">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Vikings: Valhalla</h3>
                            </a>

                            <time datetime="2022">2022</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">2K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT51M">51 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8.3</data>
                            </div>
                        </div>

                    </div>
                </li>

                <li>
                    <div class="movie-card">

                        <a href="./movie-details.html">
                            <figure class="card-banner">
                                <img src="./assets/images/series-4.png" alt="Money Heist movie poster">
                            </figure>
                        </a>

                        <div class="title-wrapper">
                            <a href="./movie-details.html">
                                <h3 class="card-title">Money Heist</h3>
                            </a>

                            <time datetime="2017">2017</time>
                        </div>

                        <div class="card-meta">
                            <div class="badge badge-outline">4K</div>

                            <div class="duration">
                                <ion-icon name="time-outline"></ion-icon>

                                <time datetime="PT70M">70 min</time>
                            </div>

                            <div class="rating">
                                <ion-icon name="star"></ion-icon>

                                <data>8.3</data>
                            </div>
                        </div>

                    </div>
                </li>

            </ul>

        </div>
    </section>





    <!--
      - #CTA
    -->

    <section class="cta py-5" style="background: url(https://codewithsadee.github.io/filmlane/assets/images/cta-bg.jpg) no-repeat">
        <div class="container">

            <div class="title-wrapper">
                <h2 class="text-uppercase fw-bold m-0">Trial start first 30 days.</h2>

                <p class="cta-text m-0">
                    Enter your email to create or restart your membership.
                </p>
            </div>

            <form action="" class="cta-form">
                <input type="email" name="email" required placeholder="Enter your email" class="email-field">

                <button type="submit" class="cta-form-btn">Get started</button>
            </form>

        </div>
    </section>

</article>
