@model IEnumerable<Movies.DAL.ViewModels.RentalDetail>

<div style="background-color: #1f2229">
    <div class="container" style="color: white">
        <h1 style="text-align: center; margin-bottom: 30px;">Danh Sách Phim Đã Thuê</h1>
        <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Mã Hóa Đơn</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Tên Phim</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Trạng Thái</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Tổng tiền</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Ngày Thuê</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Ngày Hết Hạn</th>
                    <th style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: #262626; color: #bbb; text-transform: uppercase; font-size: 14px;">Thao Tác</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">@item.PaymentId</td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">@item.MovieTitle</td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f; background-color: rgba(154, 230, 180, 0.16); color: #5cb85c; font-weight: bold;">
                            @(item.RentalStatus == 1 ? "Thuê Thành Công" : "Thất Bại")
                        </td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">@item.PaymentAmount.ToString("C0")</td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">@item.RentalDate.ToString("dd/MM/yyyy")</td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">@item.ReturnDate.ToString("dd/MM/yyyy")</td>
                        <td style="padding: 12px 15px; text-align: left; border-bottom: 1px solid #3c424f;">
                            <a type="button" class="btn btn-outline-warning " asp-controller="Movie" asp-action="WatchMovie" asp-route-id="@item.IdMovie" style="border-color: yellow; color: white">Xem Phim</a>
                            <button type="button" class="btn btn-outline-success " style="border-color: green; color: white">Thuê Lại</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
